<div class="ui stackable equal width center aligned padded grid">
  <div class="column hero">
    <h1 class="title">Bienvenidos a</h1>
    <%= image_tag 'logo-secure-social-18.png', height: 300 %>
  </div>
  <div class="column">
    <h1>Acceder a la cuenta</h1>
    <%= render 'form' %>
  </div>
</div>