<div class="ui stackable equal width center aligned padded grid">
  <div class="column hero">
  </div>
  <div class="column">
    <h1 class="intro">Acceder a la cuenta</h1>
    <%= render 'form' %>
  </div>
</div>