<div class="ui stackable equal width center aligned padded grid">
  <div class="column hero">
  </div>
  <div class="column">
    <h1 class="intro">Accessing Account</h1>
    <h4>
      Access the power of Blockchain Chat with IM Secure,<br />
      the industry leader in secure encrypted chat. <br />Powered by Blocklite.
    </h4>
    <%= render 'form' %>
  </div>
</div>