@import "semantic-ui";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.chatbox {
  height: 450px;
}

#messages {
  height: 15em;
  overflow: auto;
}

.input {
  button {
    display:none;
  }
}
